Repository gregorias/findata-fetcher: changes, and which lefthook commands are due for each by the changed paths.
All: poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yaml-prettier, yapf

lefthook.yml:

pre-commit:
  commands:
    pythonrc-check:
      tags: test
      run: "python pythonrc.py"
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    poetry-check:
      tags: lint
      glob: "pyproject.toml"
      run: poetry check
    ruff:
      tags: lint
      glob: "*.py"
      run: ruff check {staged_files}
    ruff-imports:
      tags: style import
      glob: "*.py"
      run: ruff check --select=I001 {staged_files}
    toml-taplo-lint:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    toml-taplo-fmt:
      tags: style
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    yapf:
      tags: style
      glob: "*.py"
      run: yapf -i -r {staged_files} && git add {staged_files}
    unit-tests:
      tags: test
      run: "./dev/bin/testall"
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"
post-checkout:
  commands:
    poetry-install:
      run: poetry install

chore: release
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update deps
  poetry.lock
Due: none

chore: update deps
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update
  poetry.lock
Due: none

fix(coop): use Chromium
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

chore: clean up cs
  fetcher/cs.py
Due: ruff, ruff-imports, yapf

chore: block CS
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

docs: update DEV.md
  DEV.md
  poetry.lock
Due: none

chore: run Ruff
  fetcher/coop_supercard.py
  fetcher/easyride.py
  fetcher/gmail.py
  fetcher/playwrightutils.py
  fetcher/revolut.py
  lefthook.yml
Due: ruff, ruff-imports, yaml-prettier, yapf

chore: run Ruff
  test/fake_inbox.py
Due: ruff, ruff-imports, yapf

chore: update deps
  DEV.md
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: update DEV.md
  DEV.md
Due: none

feat: switch to 1Password SDK
  DEV.md
  fetcher/bcge.py
  fetcher/bcgecc.py
  fetcher/coop_supercard.py
  fetcher/cs.py
  fetcher/degiro.py
  fetcher/finpension.py
  fetcher/gmail.py
  fetcher/ib.py
  fetcher/mbank.py
  fetcher/op.py
  fetcher/splitwise.py
  fetcher/tool.py
  poetry.lock
  pyproject.toml
  pythonrc.py
Due: poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

refactor(coop): refresh Coop implementation
  fetcher/coop_supercard.py
  fetcher/playwrightutils.py
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

feat(op): use 1Password SDK for TOTP
  fetcher/degiro.py
  fetcher/op.py
  fetcher/tool.py
  poetry.lock
  pyproject.toml
Due: poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

chore(op): delete unused function
  fetcher/op.py
  test/test_op.py
Due: ruff, ruff-imports, yapf

feat(op): stop saving the token
  DEV.md
  config.json.example
  fetcher/op.py
  fetcher/tool.py
  pythonrc.py
Due: ruff, ruff-imports, yapf

fix(coop): turn down blocked Coop automation
  fetcher/coop_supercard.py
  fetcher/fileutils.py
  fetcher/tool.py
  poetry.lock
  test/test_coop_supercard.py
Due: ruff, ruff-imports, yapf

fix(finpension): remove ctx
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

docs: document ADR to use 1Password
  DEV.md
Due: none

chore: stop auto-opening 1Password in Pythonrc
  pythonrc.py
Due: ruff, ruff-imports, yapf

feat(cs): delete support for CS
  README.md
  fetcher/cs.py
  fetcher/ib.py
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

chore: update Python to 3.13.1
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt

chore: migrate to Uv
  .envrc
  DEV.md
  dev/bin/release-new-version
  lefthook.yml
  poetry.lock
  pyproject.toml
  uv.lock
Due: poetry-check, toml-taplo-lint, toml-taplo-fmt, yaml-prettier

fix(revolut): update Revolut fetch
  fetcher/revolut.py
  fetcher/tool.py
  pyproject.toml
  pythonrc.py
  uv.lock
Due: poetry-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, yapf

chore: delete unused function
  fetcher/playwrightutils.py
Due: ruff, ruff-imports, yapf

chore: update the lock
  uv.lock
Due: none

chore: update precommit
  Justfile
  fetcher/dateutils.py
  fetcher/driverutils.py
  fetcher/gmail.py
  fetcher/ib.py
  fetcher/playwrightutils.py
  lefthook.yml
  test/test_dateutils.py
  test/test_driverutils.py
  test/test_playwrightutils.py
  vulture_allowlist.py
Due: ruff, ruff-imports, yaml-prettier, yapf

feat: beef up pythonrc
  pythonrc.py
Due: ruff, ruff-imports, yapf

feat: implement Viseca fetch
  fetcher/bcgecc.py
  fetcher/tool.py
  pythonrc.py
Due: ruff, ruff-imports, yapf
