Repository gregorias/findata-fetcher: changes, and which lefthook commands are due for each by the changed paths.
All: toml-taplo, yaml-prettier, yapf

lefthook.yml:

pre-commit:
  commands:
    unit-tests:
      run: "./dev/bin/testall"
    toml-taplo:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    yapf:
      tags: style
      glob: "*.py"
      run: yapf -i -r {staged_files} && git add {staged_files}
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

chore: release 3.2.0
  pyproject.toml
Due: toml-taplo

feat: stop hardcoding most passwords in config
  config.json.example
  fetcher/bcgecc.py
  fetcher/coop_supercard.py
  fetcher/cs.py
  fetcher/degiro.py
  fetcher/finpension.py
  fetcher/gmail.py
  fetcher/mbank.py
  fetcher/revolut.py
  fetcher/splitwise.py
  fetcher/tool.py
  pythonrc.py
  test/test_tool.py
Due: yapf

chore: release
  pyproject.toml
Due: toml-taplo

feat: use 1Password service account to fetch creds
  config.json.example
  fetcher/coop_supercard.py
  fetcher/gmail.py
  fetcher/op.py
  fetcher/splitwise.py
  fetcher/tool.py
  poetry.lock
  pyproject.toml
  pythonrc.py
  test/test_op.py
Due: toml-taplo, yapf

chore: update deps
  poetry.lock
  pyproject.toml
Due: toml-taplo

chore: clean up unused pull-ib
  fetcher/ib.py
  fetcher/tool.py
Due: yapf

chore: update dependencies
  poetry.lock
Due: none

feat(coop): add headless flag
  fetcher/tool.py
Due: yapf

refactor(coop): inline error check
  fetcher/coop_supercard.py
Due: yapf

feat(coop): add verbose mode
  fetcher/coop_supercard.py
  fetcher/tool.py
Due: yapf

chore: update deps
  poetry.lock
Due: none

fix: fix pythonrc.py
  fetcher/tool.py
  lefthook.yml
  pythonrc.py
Due: yaml-prettier, yapf

feat(ib): fix deposit
  fetcher/ib.py
  fetcher/ibplaywright.py
  fetcher/tool.py
  pythonrc.py
  test/data/ib-wire-instructions.csv
  test/test_ib.py
Due: yapf

chore(coop): rename command to coop-supercard-pull
  fetcher/coop_supercard.py
  fetcher/tool.py
Due: yapf

feat(coop): reimplement coop pull in Playwright
  fetcher/coop_supercard.py
  fetcher/tool.py
Due: yapf

fix(coop): fix fetching
  fetcher/coop_supercard.py
  fetcher/tool.py
Due: yapf

chore: add release-new-version
  dev/bin/release-new-version
Due: none

chore: add poetry install to post-checkout
  lefthook.yml
Due: yaml-prettier

feat(degiro): print account statement to stdout
  fetcher/tool.py
Due: yapf

fix(coop): fix BC handling
  fetcher/coop_supercard.py
  fetcher/tool.py
Due: yapf

chore: upgrade to python 3.12
  .python-version
  poetry.lock
  pyproject.toml
Due: toml-taplo

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: toml-taplo

feat(cs): use dynamic viewport for CS EAC
  fetcher/tool.py
Due: yapf
