Repository gregorias/findata-fetcher: changes, and which lefthook commands are due for each by the changed paths.
All: toml-taplo, yaml-prettier

lefthook.yml:

pre-commit:
  scripts:
    "format-files.bash":
      runner: bash
  commands:
    unit-tests:
      run: "./dev/bin/testall"
    toml-taplo:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"

chore: use Yapf directly in lefthook.yml
  .lefthook/pre-commit/format-files.bash
  lefthook.yml
Due: yaml-prettier

chore: real on system-wide yapf
  lefthook.yml
  poetry.lock
  pyproject.toml
Due: toml-taplo, yaml-prettier

fix: use `add_argument`
  fetcher/tool.py
Due: none

fix: update Galaxus format
  fetcher/easyride.py
  fetcher/galaxus.py
  fetcher/gmail.py
  fetcher/patreon.py
  fetcher/revolut_mail.py
  fetcher/tool.py
  fetcher/ubereats.py
  poetry.lock
  pyproject.toml
  test/data/galaxus-payload-2023-04-12.txt
  test/fake_inbox.py
  test/test_galaxus.py
Due: toml-taplo

chore: update deps
  poetry.lock
Due: none

feat(galaxus): extract payment method
  fetcher/galaxus.py
  test/test_galaxus.py
Due: none

feat: adapt mbank to utf-8 CSVs
  fetcher/mbank.py
  test/data/mbank-transactions-2023-04-30-output.csv
  test/data/mbank-transactions-2023-04-30.csv
  test/test_mbank.py
Due: none

chore: bump up the version
  pyproject.toml
Due: toml-taplo

feat(revolut): lift timeout
  fetcher/revolut.py
  fetcher/tool.py
Due: none

fix: update Revolut setup
  fetcher/revolut.py
  fetcher/tool.py
  pythonrc.py
Due: none

chore: release 2.3.0
  pyproject.toml
Due: toml-taplo

feat: implement google play bill fetch
  fetcher/google_play_mail.py
  fetcher/tool.py
  pyproject.toml
  test/data/google-play-mail-2023-05-04-bytes.email
  test/data/google-play-mail-2023-05-04-contents.txt
  test/file_extra.py
  test/test_google_play_mail.py
Due: toml-taplo

fix(bcge): reimplement BCGE in Playwright
  fetcher/bcge.py
  fetcher/tool.py
  test/test_bcge.py
Due: none

chore: release 2.5.0
  pyproject.toml
Due: toml-taplo

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: toml-taplo

chore: release 2.5.1
  pyproject.toml
Due: toml-taplo

fix: s/transfor/transfer/
  fetcher/tool.py
Due: none

refactor: implement intercept_download for Playwright
  fetcher/bcge.py
  fetcher/cs.py
  fetcher/playwrightutils.py
Due: none

feat(cs): output the fetched csv to stdout
  fetcher/cs.py
  fetcher/tool.py
Due: none

chore: release 3.0.0
  pyproject.toml
Due: toml-taplo

docs(cs): fix download_transaction_history
  fetcher/cs.py
Due: none

feat(cs): add EAC fetch
  fetcher/cs.py
  fetcher/tool.py
Due: none

chore: update deps
  fetcher/bcgecc.py
  fetcher/degiro.py
  poetry.lock
Due: none

chore: release 3.0.1
  pyproject.toml
Due: toml-taplo

feat: add WebKit to pythonrc
  pythonrc.py
Due: none

feat(ib): add playwright deposit functions
  fetcher/ibplaywright.py
  pythonrc.py
Due: none

feat(ib): add cancel pending deposits command
  fetcher/contextextra.py
  fetcher/ibplaywright.py
  fetcher/tool.py
  pythonrc.py
Due: none

refactor(pw): add utils for working with Playwright
  fetcher/playwrightutils.py
  fetcher/tool.py
  pythonrc.py
Due: none

feat: add get_new_files
  fetcher/playwrightutils.py
Due: none

feat(ib): implement fetch statement
  fetcher/ibplaywright.py
  fetcher/playwrightutils.py
  fetcher/tool.py
  pythonrc.py
Due: none

chore: release v3.1.0
  pyproject.toml
Due: toml-taplo

feat: use the config file at XDG_CONFIG_HOME
  fetcher/tool.py
Due: none

feat: implement op read
  fetcher/op.py
Due: none

chore: delete TrueWealth config entries
  config.json.example
Due: none

feat: use 1Pwd to fetch BCGE & IB creds
  config.json.example
  fetcher/bcge.py
  fetcher/ibplaywright.py
  fetcher/tool.py
  pythonrc.py
Due: none
