Repository gregorias/findata-fetcher: changes, and which lefthook commands are due for each by the changed paths.
All: toml-taplo, yaml-prettier, yapf

toml-taplo:
  tags: style
  run: taplo check {staged_files}

yaml-prettier:
  tags: style
  run: prettier -c {staged_files}

yapf:
  tags: style
  run: yapf -i -r {staged_files} && git add {staged_files}

chore: add Lefthook tags
  lefthook.yml
Due: yaml-prettier

refactor: modernize async_closing
  fetcher/contextextra.py
  fetcher/playwrightutils.py
  fetcher/tool.py
Due: yapf

fix(cs): update fetchers
  fetcher/cs.py
Due: yapf

chore: release
  pyproject.toml
Due: toml-taplo

fix(ib): update login symbol
  fetcher/ib.py
Due: yapf

fix(ib): delete the unnecessary login wait
  fetcher/ib.py
Due: yapf

refactor(bcge): reuse the utility for creating a new page
  fetcher/tool.py
Due: yapf

fix(bcge): fix login waiting event
  fetcher/bcge.py
Due: yapf

fix(bcge): fix download
  fetcher/bcge.py
  fetcher/tool.py
Due: yapf

chore: update deps
  poetry.lock
  pyproject.toml
Due: toml-taplo

fix(cs): fix format selection
  fetcher/cs.py
Due: yapf

chore: delete obsolete Revolut mail
  fetcher/revolut_mail.py
  fetcher/tool.py
  pythonrc.py
Due: yapf

fix(revolut): update fetching
  fetcher/revolut.py
  fetcher/tool.py
Due: yapf

chore: add a REPL example
  repl.py
Due: yapf

chore: update deps
  poetry.lock
Due: none

chore: update Python to 3.12.1
  .python-version
Due: none

docs: update DEV.md
  DEV.md
  README.md
Due: none

chore: add markdownlint
  lefthook.yml
Due: yaml-prettier

feat: add logtostderr
  fetcher/tool.py
Due: yapf

feat(degiro): fix and move to playwright
  fetcher/degiro.py
  fetcher/op.py
  fetcher/tool.py
Due: yapf

fix(ib): fix fetch
  fetcher/ib.py
  fetcher/tool.py
Due: yapf

chore: update dependencies
  poetry.lock
Due: none

chore: update Python version to 3.12.3
  .python-version
Due: none

chore: update pre-commit
  lefthook.yml
Due: yaml-prettier

chore: format tool.py
  fetcher/tool.py
Due: yapf

chore: update deps
  fetcher/galaxus.py
  fetcher/google_play_mail.py
  fetcher/patreon.py
  fetcher/ubereats.py
  poetry.lock
  pyproject.toml
  pythonrc.py
Due: toml-taplo, yapf

chore: update to Python 3.12.4
  .python-version
Due: none

fix(bcge): update link text
  fetcher/bcge.py
Due: yapf

Path conditions:
  toml-taplo: any of: *.toml
  yaml-prettier: any of: *.{yml,yaml}
  yapf: any of: *.py
