Repository gregorias/findata-fetcher: changes, and which lefthook commands are due for each by the changed paths.
All: pyproject-toml-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yaml-prettier, yapf

lefthook.yml:

pre-commit:
  commands:
    markdownlint:
      tags: documentation style
      files: git diff --name-only --cached --diff-filter=AM
      glob: "*.md"
      run: markdownlint {files}
    pyproject-toml-check:
      tags: lint
      glob: "pyproject.toml"
      run: validate-pyproject < pyproject.toml
    pythonrc-check:
      tags: test
      run: "python pythonrc.py"
    ruff:
      tags: lint
      glob: "*.py"
      exclude: vulture_allowlist.py
      run: ruff check {staged_files}
    ruff-imports:
      tags: style import
      glob: "*.py"
      run: ruff check --select=I001 --fix {staged_files}
      stage_fixed: true
    toml-taplo-lint:
      tags: style
      glob: "*.toml"
      run: taplo check {staged_files}
    toml-taplo-fmt:
      tags: style
      glob: "*.toml"
      run: taplo fmt --check {staged_files}
    unit-tests:
      tags: test
      run: "./dev/bin/testall"
    uv-check:
      tags: lint
      glob: "{pyproject.toml,uv.lock}"
      run: uv pip check
    vulture:
      tags: lint
      run: just vulture
    yaml-prettier:
      tags: style
      glob: "*.{yml,yaml}"
      run: prettier -c {staged_files}
    yapf:
      tags: style
      glob: "*.py"
      run: yapf -i -r {staged_files} && git add {staged_files}
commit-msg:
  commands:
    commitlint:
      run: "commitlint --edit={1}"
post-checkout:
  commands:
    uv-sync:
      run: uv sync --locked

chore: release
  pyproject.toml
Due: pyproject-toml-check, toml-taplo-lint, toml-taplo-fmt, uv-check

feat: migrate mBank to Playwright
  DEV.md
  README.md
  fetcher/driverutils.py
  fetcher/gmail.py
  fetcher/mbank.py
  fetcher/tool.py
  pyproject.toml
  pythonrc.py
  test/test_driverutils.py
  test/test_mbank.py
  uv.lock
Due: pyproject-toml-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yapf

chore: update Justfile
  Justfile
  dev/bin/coverage
  dev/bin/testall
  lefthook.yml
  pyproject.toml
  uv.lock
Due: pyproject-toml-check, toml-taplo-lint, toml-taplo-fmt, uv-check, yaml-prettier

chore: update onepassword-sdk
  fetcher/op.py
  pyproject.toml
  uv.lock
Due: pyproject-toml-check, ruff, ruff-imports, toml-taplo-lint, toml-taplo-fmt, uv-check, yapf

docs: document command naming
  DEV.md
Due: none

chore: update deps
  .python-version
  pyproject.toml
  uv.lock
Due: pyproject-toml-check, toml-taplo-lint, toml-taplo-fmt, uv-check

chore: release v12.2.1
  pyproject.toml
  uv.lock
Due: pyproject-toml-check, toml-taplo-lint, toml-taplo-fmt, uv-check

build: switch to Black
  lefthook.yml
Due: yaml-prettier

fix(ib): update CSV selection
  fetcher/ib.py
  fetcher/playwrightutils.py
  fetcher/tool.py
Due: ruff, ruff-imports, yapf

chore: update deps
  uv.lock
Due: uv-check

docs: update repo setup instructions
  DEV.md
  uv.lock
Due: uv-check

build: update dep sync instructions
  DEV.md
Due: none

ci: modernize version bumping
  .bumpversion.toml
  Justfile
  dev/bin/bump
  dev/bin/release-new-version
Due: toml-taplo-lint, toml-taplo-fmt

chore: bump 12.2.3 → 12.3.0
  .bumpversion.toml
  pyproject.toml
Due: pyproject-toml-check, toml-taplo-lint, toml-taplo-fmt, uv-check
